{% extends 'email/base_email.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h2 style="color: #333333; font-family: sans-serif; font-weight: 300; line-height: 1.4; margin: 0; margin-bottom: 30px;">Reset Your Password</h2>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hi {{ user.get_full_name|default:user.username }},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Someone requested a password reset for your account. If this was you, click the button below to reset your password. If you didn't request this, you can safely ignore this email.</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate; width: 100%; box-sizing: border-box;">
    <tbody>
        <tr>
            <td align="center" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: auto;">
                    <tbody>
                        <tr>
                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 5px; text-align: center; background-color: #3b82f6;">
                                <a href="{{ reset_url }}" target="_blank" style="border: solid 1px #3b82f6; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #3b82f6; border-color: #3b82f6; color: #ffffff;">Reset Password</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">This password reset link will expire in 24 hours. If you need to reset your password after that, please request a new reset link.</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">If you're having trouble clicking the password reset button, copy and paste the URL below into your web browser:</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;"><a href="{{ reset_url }}" style="color: #3b82f6; text-decoration: underline;">{{ reset_url }}</a></p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Best regards,<br>The We Are Here Team</p>
{% endblock %}